<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error: {{ status_text }}</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% stylesheets '@formformBundle/Resources/public/css/main.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

  </head>

  <body>
    <div class="container">
      <div id="header" class="jumbotron">
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        Veuillez vous rediriger vers une page de notre site : <a href="{{ path('formform_homepage') }} " class="btn btn-warning">Retour au site</a>
      <div>
    </div>
  </body>
</html>