{% extends "formformBundle::layout.html.twig" %}

{% block prix %}

{% endblock %}

{% block commande %}

<p> Vous avez choisi {{ nbPlace }} des billets {{ billet }} pour le <u>{{ date|date("d/m/Y") }}</u>.</p><br />

<ul>
{% for individu in individus %}
<li><b> {{ individu.nom }}, {{ individu.prenom }}</b> né le : {{ individu.anniversaire|date("d/m/Y") }} : <b>{{ individu.prix }}€</b>
<br /><br />
{% endfor %}
</ul>
<br />
<p><b> Prix total : {{ prixTotal }}€</b></p>

<div class="col-xs-3">
	<a href = "http://localhost/projet/Symfony/payment/web/app_dev.php/" class = "btn btn-info">Retour</a>
</div>
<div class="col-xs-9">
	<form class = "form-horizontal">
		<a href = "http://localhost/projet/Symfony/payment/web/app_dev.php/paiement" class = "btn btn-success">Valider la commande</a>
	</form>
</div>

{% endblock %}