{% extends "formformBundle::layout.html.twig" %}


{% block prix %}
		<div class="well table-hover">
			<p>Voici les tarifs disponibles :</p>
			<table class="table">
				<thead>
					<tr>
						<th>Catégorie</th>
						<th>Journée</th>
						<th>Demi-journée<th>
					<tr>
				<tbody>
					<tr>
						<th>Inférieur à 4 ans</th>
						<th>Gratuit</th>
						<th>Gratuit</th>
					</tr>
					<tr>
						<th>Entre 4 et 12 ans</th>
						<th>8€</th>
						<th>6€</th>
					</tr>
					<tr>
						<th>Plus de 12 ans</th>
						<th>16€</th>
						<th>12€</th>
					</tr>
					<tr>
						<th>60 ans et plus</th>
						<th>12€</th>
						<th>9€</th>
					</tr>
					<tr>
						<th>Etudiant, militaire, professeur...</th>
						<th>10€</th>
						<th>7.5€</th>
					</tr>
			</table>
		</div>
{% endblock %}

{% block commande %}
	<div class="well">
		<p> Vous avez choisi {{ nbPlace }} billet(s) de type {{ billet }} pour le <u>{{ date|date("d/m/Y") }}</u>.</p><br />

		<ul>
		{% for individu in personnes %}
		<li><b> {{ individu.nom }}, {{ individu.prenom }}</b> né le : {{ individu.anniversaire|date("d/m/Y") }} : <b>{{ individu.prix }}€</b>
		<br /><br />
		{% endfor %}
		</ul>
		<br />
		<p><b> Prix total : {{ prixTotal }}€</b></p>
	</div>
	<div class="col-xs-3">
		<a href="{{ path('formform_homepage') }} " class="btn btn-info" id = "annuler">Annuler la commande</a>
	</div>

	<div class="col-xs-3 col-xs-offset-6">
		<form action= "{{ path('formform_validation') }}" method="POST">
			<script
			  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			  data-amount={{prixTotal*100}}
			  data-key="pk_test_250bRFcDrhI5cxh3d3H9iwtL"
			  data-name="Paiement de la commande"
			  data-description="{{prixTotal}}€"
			  data-image="https://s3.amazonaws.com/stripe-uploads/acct_19OvPSIvZQQWXweDmerchant-icon-1482222740075-dribbble-tree_1x.jpg"
			  data-email="{{mailClient}}"
			  data-locale="auto"
			  data-label="Confirmer"
			  data-zip-code="true"
			  data-currency="eur">
			</script>
		</form>
	</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {

	window.onpopstate = function(event)
	{
	    if (event.state)
	    {
	    	event.preventDefault;
	    	console.log("location: " + document.location + ", state: " + JSON.stringify(event.state));
	        $('#annuler').click();
	    }
	};

	});
</script>
{% endblock %}
